node_modules
package-lock.json
# Keep environment variables out of version control
.env
config/config.json
utils/database/config/config.json
utils/database/bak/
prisma/

models/user.model.mongoose.js
utils/database/database.connect.js

.vscode/

upload/